# ignora los archivos terminados en .class
*.class
# ignora los archivos terminados en ~
*~
# pero no importante~, aun cuando había ignorado los archivos
terminados en ~ en la linea anterior
!importante~